<%# サイドバー %>
<div class = "wrapper" >            <%# 全体部 %>
  <div class = "side-bar" >         <%# サイドバー部 %>
    <%= render "side_bar" %>        <%# サイドバー呼び出し(_side_bar.html.erb) %>
  </div>
  <div class = "chat" >       <%# チャット部 %>
    <%= render "main_chat" %> <%# メインチャット画面呼び出し(_main_chat.html.erb) %>
  </div>
</div>
